*{
    margin: 0; 
    box-sizing: border-box;
}
body{
    background-color: #c2bbbb;
}
.bandera{
    width: 200px;
    height: 50px;
    background-color: #ae1c28;
    box-shadow: 0 50px #fff, 0 100px #21468B;
}